<section class="bg--img" style="background-image: url({{site.img}}/content/competition-promo.jpg);">
  <div class="container container--xl vpad--xxl text--center text--white">

    <h3 class="title title--xl text--italic text--bolder">Gewinnen Sie magische Moment&shy;aufnahmen in Wales</h3>
    <div class="space--xs"></div>
    <span class="title title--xxs text--kerning title--arvo">Mit dem Celtic Manor Resort, Nikon & Visit Wales</span>
    <div class="space--xs"></div>
    <hr class="hr--center">
    <p class="text--lg">Lassen Sie sich von Wales bezaubern und gewinnen Sie einen Aufenthalt im 5*-Resort samt Flügen und Kamera Kit von Nikon – für bleibende Erinnerungen</p>
    <p><a href="{{site.baseurl}}/competition" class="btn btn--outline-white">Jetzt teilnehmen</a></p>

  </div>
</section>