<section class="bg--img" style="background-image: url({{site.img}}/content/competition-promo.jpg);">
  <div class="container container--xl vpad--xxl text--center text--white">

    <h3 class="title title--xl text--italic text--bolder">Win a perfect autumnal break in Wales</h3>
    <div class="space--xs"></div>
    <span class="title title--xxs text--kerning title--arvo">with Canon and Cotswold Outdoor</span>
    <div class="space--xs"></div>
    <hr class="hr--center">
    <p class="text--lg">Let the Autumn wilds of Snowdonia enchant you with a stay at the Lake Vyrnwy Hotel & Spa plus a Canon EOS M6 mirrorless camera kit and clothing from Cotswold Outdoor</p>
    <p><a href="{{site.baseurl}}/competition" class="btn btn--outline-white">Enter now</a></p>

  </div>
</section>