<footer>
  {% include nav/microsite-nav.html second-level="false" %}
  <div class="footer">
    <div class="footer__logos">
      <a class="logo logo--se logo--se-sm" href="https://www.secretescapes.com/"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/secret-escapes.png" alt="Secret Escapes logo"></a>
      {% include components/partner-logo.html small='true' %}
    </div>
    <div class="footer__info">
      <p>© Copyright <span class="js-year">2017</span> Secret Escapes</p>
      <p><a href="#" class="js-open-modal" data-open-modal="image-credits">Website image credits</a></p>
    </div>
  </div>
</footer>