<header class="site-header">

  <!-- CORE NAV -->
  <div class="core-nav">
    <div class="row row--no-padding">
      <div class="core-nav__wrap">

        <div class="core-nav__column core-nav__column--left core-nav__column--v-center">
          <div class="js-toggle-mobile-nav icon icon--menu"></div>
        </div>

        <!-- NAV & SE LOGO -->
        <div class="core-nav__column core-nav__column--center">
          <a class="logo logo--se" href="https://www.secretescapes.com/">
            <img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/secret-escapes.png" alt="Secret Escapes logo">
          </a>
          <!-- CORE NAV LIST -->
          <ul class="core-nav__list">
            {% include nav/core-navigation.html block="core-nav" %}
          </ul>
        </div>

        <!-- PARTNER LOGO -->
        <div class="core-nav__column core-nav__column--right">
          {% include components/partner-logo.html %}
        </div>

      </div><!-- END - .core-nav__wrap -->
    </div><!-- END - .row -->
  </div><!-- END - .core-nav -->

</header>


<!-- MOBILE NAV -->
<div class="mobile-nav is-closed">
  <div class="mobile-nav__wrap">

    <!-- CLOSE ICON -->
    <div class="mobile-nav__icon">
      <div class="js-toggle-mobile-nav icon icon--close"></div>
    </div>

    <!-- NAV LIST -->
    <ul class="mobile-nav__list">
      {% include nav/core-navigation.html block="mobile-nav" %}
    </ul>
  </div>

  <!-- PARTNER LOGO -->
  <div class="mobile-nav__bottom">
    {% include components/partner-logo.html %}
  </div>
</div>