
<div class="highlight row row--6-6 row--gutters row--valign-center {% cycle '','row--reverse' %}">

  <div class="col">
    <div class="bg-img bg-img--16-9 bg-img--lg-4-3 bg-img--rounded" style="background-image: url({{site.img}}/content/{{page.id}}/{{highlight.title||slugify}}.jpg);"></div>
  </div>

  <div class="col">

    <h4 class="highlight__title title title--sm title--arvo text--bold">{{highlight.title}}</h4>
    <p>{{highlight.content}}</p>

    {% if highlight.location %}
    <div class="highlight__footer">
      {% if highlight.location %}
        <div class="highlight__location">
          {{ highlight.location }}
        </div>
      {% endif %}
      {% if highlight.link %}
        <a class="highlight__cta btn--outline" href="{{highlight.link}}">Read more</a>
      {% endif %}
    </div>
    {% endif %}

  </div>

</div>
<div class="space--xxl"></div>
