<div class="offer-promo vpad--xxxxl">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/03.jpg')"></div>
  </div>
  <div class="offer-promo__content">
    <div class="container container--xxl text--center">

      <h2 class="core-title core-title--xxl">Aber das ist noch nicht alles...</h2>
      <p class="text--xl vpad--xxs">Wir haben noch viele weitere Angebote weltweit – mit bis 70 % Vergünstigung</p>
      <div class="space--sm"></div>
      <a id="track-btn-current-sales" href="https://goo.gl/u6oXBi" class="btn btn--orange">Alle angebote ansehen</a>

    </div>
  </div>
</div>