<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/comp-promo.jpg');">
  <div class="container container--100">
    <div class="row row--xxl-6-6 row--no-gutters">
      <div class="col"></div>
      <div class="col">
        <div class="container container--no-padding promo-comp-content-width">
          <h2 class="title title--xl">Win a luxurious waterside break in Wales</h2>
          <p class="text--lg space--md">It’s time to decide whether you want to win a luxurious stay overlooking the coast, or win an opulent break in the Welsh interior with a picturesque lakeside hotel.</p>
          <div class="space--md"></div>
          <a id="track-btn-footer-competition" href="{{site.baseurl}}/competition" class="btn btn--lg btn--red">Enter Now</a>
        </div>
      </div>
    </div>
  </div>
</div>