// These are the default settings for type

html { font-size: 87.5%; } // = 14px – This is the root size for REM

body {
  font-family: $font-family;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .0143em;
  -webkit-text-size-adjust: 100%;
  color: $text;
  background-color: $white;
}