{% capture html %}
<ul class="group-nav">
  {% assign sections = site.html_pages | sort: "path" | sort: "group-order" %}
  {% for section in sections %}
    {% capture slug    %}{{ section.url | split: "/"   | last                       }}{% endcapture %}
    {% capture current %}{{ section.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
    {% if current == include.context %}
    <li class="group-nav__item group-nav__item--{{section.id}}" style="background-image: url('{{ site.baseurl }}/img/bg/{{section.id}}-nav.jpg');">
      <a class="group-nav__link" href="{{ site.baseurl }}{{ section.url }}"><span class="group-nav__link-wrap title title--sm title--display title--capital title--italic">{{ section.title }}</span></a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}