<!-- SITE NAV -->
<div class="site-nav">
  <div class="site-nav__wrap">
    <ul class="site-nav__list">
      {% assign site-sections = site.html_pages | sort:"nav-order" %}
      {% for section in site-sections %}{% if section.nav-order %}<li class="site-nav__item site-nav__item--{{ section.title | slugify }}"><a class="site-nav__link" href="{{ site.baseurl }}{{ section.url }}">{{section.title}}</a>{% if section.layout == "explore" %}{% unless include.second-level == 'false' %}{% include nav/group-nav.html context=section.url %}{% endunless %}{% endif %}</li>{% endif %}{% endfor %}
    </ul>
  </div>
</div>