// styles for logos on site

.logo {
  display: inline-block;
  width: 100%;
  &--se {
    max-width: 140px;
    padding-top: 3px;
    @include bp($md){
      max-width: 170px;
      padding-top: 4px;
    }
    &-sm {
      max-width: 120px;
      & img { padding-top: 6px; }
    }
  }
  &--partner {
    max-width: 105px;
    &-sm {
      max-width: 90px;
    } 
  }
}