// controls the vertical spacing, between elements and in general


// default sections
.section {
  padding-top: $s8;
  padding-bottom: $s8;
}

.row {
  & + & { margin-top: $s6; }
}

.col {
  & + & {
    margin-top: $s4;
    @include bp(lg){ margin-top: 0; }
  }
}

// equal vertical padding for large elements
// !!!!!!!!!! this could all be on the section, eg short section, massive section etc
.vpad {
  &--xxxxl { padding-top: $s14; padding-bottom: $s14; }
  &--xxxl  { padding-top: $s12; padding-bottom: $s12; }
  &--xxl   { padding-top: $s10; padding-bottom: $s10; }
  &--xl    { padding-top: $s8; padding-bottom: $s8; }
  &--lg    { padding-top: $s6; padding-bottom: $s6; }
  &--md    { padding-top: $s4; padding-bottom: $s4; }
  &--sm    { padding-top: $s2; padding-bottom: $s2; }
}

// add in the occasional space for internal content
.space {
  &--xxxxl { height: $s14; }
  &--xxxl  { height: $s12; }
  &--xxl   { height: $s10; }
  &--xl    { height: $s8; }
  &--lg    { height: $s6; }
  &--md    { height: $s2; }
  &--sm    { height: $s0; }
}

// box padding for inner page elements like offer cards
.boxpad {
  &--xxl  { padding: $s10; }
  &--xl   { padding: $s8; }
  &--lg   { padding: $s6; }
  &--md   { padding: $s4; }
  &--sm   { padding: $s2; }
}