<div class="banner">
  <div class="banner__bg" style="background-image: url({{site.baseurl}}/img/bg/{{page.id}}.jpg);"></div>
  <div class="banner__content site-header__offset-padding row--padding">
    <div class="row title-bg">
      {% if page.banner.content %}
        {{page.banner.content}}
      {% else %}
        {% if page.banner.title-super %}<div class="title title--display title--super title--xs title--upper title--kerning-lg">{{page.banner.title-super}}</div>{% endif %}
          {% if page.banner.title %}
          <h1 class="title title--banner{% if page.id == 'overview' %} title--banner-size{% else %} title--xxxxl{% endif %}">{{page.banner.title}}
          {% else %}
          <h1 class="title title--banner title--xxxxxl">{{page.title}}
          {% endif %}</h1>
        {% if page.banner.title-sub %}<div class="title title--02 title--sub title--sm">{{page.banner.title-sub}}</div>{% endif %}
      {% endif %}
    </div>
  </div>
</div>