<div class="banner js-bg-fade">
  <div class="banner__bg" style="background-image: url({{site.baseurl}}/img/bg/{{page.id}}.jpg);"></div>
  <div class="banner__content site-header__offset-padding row--padding">
    <div class="row title-bg">

      {% if page.banner.content %}
        {{page.banner.content}}
      {% else %}

        {% if page.banner.title-super %}
          <div class="title title--02 title--super title--xs title--upper title--kerning-lg">{{page.banner.title-super}}</div>
        {% endif %}

        <div class="space--md"></div>
        <h1 class="title title--banner{% if page.id == 'overview' %} title--banner-size{% else %} title--xxxxl{% endif %}">
          {% if page.banner.title %} {{page.banner.title}} {% else %} {{page.title}} {% endif %}
        </h1>
        <div class="space--md"></div>
        
        {% if page.banner.title-sub %}
          <div class="title title--02 title--sub title--sm">{{page.banner.title-sub}}</div>
        {% endif %}

      {% endif %}
    </div>
  </div>
  <div class="banner__overlay js-bg-fade__overlay"></div>
</div>