<div class="comp-promo">
  <div class="comp-promo__bg"></div>
  <div class="comp-promo__wrap">
    <div class="comp-promo__text">
      <div class="title title--01 title--lg title--bolder title--italic">Win a perfect autumnal break in Wales</div>
      <div class="space--xxs"></div>
      <div class="title title--sub title--display title--xxs title--bold title--upper title--kerning">With Canon and Cotswold Outdoor</div>
      <div class="space--sm"></div>
      <div class="line-length">
        <p class="text--lg">Let the Autumn wilds of Snowdonia enchant you with a stay at the Lake Vyrnwy Hotel & Spa plus a Canon EOS M6 mirrorless camera kit and clothing from Cotswold Outdoor</p>
      </div>
      <div class="space--xs"></div>
      <a href="{{site.baseurl}}/competition" class="btn btn--white-outline">Enter Now</a>
    </div>
  </div>
</div>