<div class="comp-promo">
  <div class="comp-promo__bg"></div>
  <div class="comp-promo__wrap">
    <div class="comp-promo__text">
      <div class="title title--01 title--lg title--bolder title--italic">Win a luxurious stay in Wales</div>
      <div class="title title--sub title--display title--xxs title--bold title--upper title--kerning">5 star Welsh Rarebits hotel</div>
      <div class="space--sm"></div>
      <p class="text--lg line-length">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quo minima, assumenda est perferendis itaque harum amet ratione distinctio ex. Vero repellat, id et unde sapiente, libero nisi dolorum tempore?</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/competition" class="btn btn--white-outline">Enter Now</a>
    </div>
  </div>
</div>