<div class="row row--padding featured-poi">

  <div class="col featured-poi__image bg-img bg-img--3-2 bg-img--rounded" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{poi.id}}.jpg');">
    {% if poi.image-credit %}
    <div class="bg-img__credit">
      {{poi.image-credit}}
    </div>
    {% endif %}
  </div>

  <div class="col featured-poi__text line-length--lg">

    <h4 class="title title--02 title--sm title--bold title--highlight">{{poi.title}}</h4>

    {% if poi.title-sub %}
      <div class="title--01 title--xxs title--bolder title--italic">{{poi.title-sub}}</div>
    {% endif %}

    <p class="text--small">{{poi.description}}</p>

    <div class="poi__footer">
      {% if poi.locations %}
      {% for location in poi.locations %}
      <span class="poi__location">
        {{location.title}}
      </span>
      {% endfor %}
      {% endif %}

      {% if poi.link %}
      <a href="{{ poi.link }}" id="tracking-poi-btn-{{poi.id}}" class="poi__btn btn btn--sm btn--white-outline">Read more</a>
      {% endif %}
    </div>

  </div>

</div>