

// ---------- button ----------

.btn {
  position: relative;
  display: inline-block;
  padding: $s0 $s3;
  color: $text-white;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  * + & { margin-top: 1.5em; }

  @include bp(lg){
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 800;
    font-size: $s-1;
    padding: $s2 $s6;
    &--sm { padding: $s0 $s4; font-size: $s-2; }
    &--lg {
      font-size: $s1;
      text-transform: none;
      font-weight: 700;
      letter-spacing: 0.05em;
    }
  }

  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--red    { background-color: $w-red;
    &:hover { background-color: $w-red-dark; }
  }
  &--orange-outline {
    color: $text;
    background-color: $white;
    &:before {
      // creates a border within the button dimentions. useful if an outline
      // button is inline with a solid colour button
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $orange;
      border-radius: inherit;
    }
    &:hover {
      color: $text-white;
      background-color: $orange;
    }
  }
  &--white-outline {
    color: $white;
    &:before {
      // creates a border within the button dimentions. useful if an outline
      // button is inline with a solid colour button
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $white;
      border-radius: inherit;
      @include transition;
    }
    &:hover {
      background-color: $w-red;
      &:before { border-color: $w-red; }
    }
  }
}