// Offer block styles

.offer {
  position: relative;
  // GRID SHIZZ
  max-width: $lg;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $s4;
  @include bp(xxl) {
    @include layout(12 1);
    @include gallery(6);
    margin-bottom: gutter(12);
    // centers single offer
    &:nth-child(odd):last-child {
      margin-right: auto;
      margin-left: auto;
      float: none !important;
    }
  }
  // END GRID SHIZZ
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: block;
    opacity: 0;
    background-color: transparent;
    color: transparent;
    text-align: center;
    @include transition;
    & .btn {
      margin-top: 50%;
      .touch & { display: none; }
    }
    &:hover {
      opacity: 1;
      background-color: rgba($black,.33);
      text-decoration: none;
      & .btn { transform: scale(1.05,1.05); }
      .touch & { background-color: transparent; }
    }
    .flexbox & {
      display: flex;
      justify-content: center;
      align-items: center;
      & .btn {
        margin-top: 0;
      }
    }
  }
  &__content {
    color: $grey;
    padding: $s2;
    border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;
    border-bottom: 1px solid $grey-lighter;
    background-color: $white;
  }
  &__title {
    font-size: 1.467em;
    letter-spacing: .015em;
    line-height: 1.3;
  }
  &__location {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 1em;
    text-indent: -1.5em;
    font-size: 0.75em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: $text-light;
    &:before {
      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-right: .5em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
  $circle-height: 50px;
  &__saved {
      display: table-cell;
      padding-right: $s1;
      line-height: 1.2;
      text-align: center;
      border-right: 1px solid $grey-lighter;
      vertical-align: bottom !important;
    &-num {
      display: block;
      width: $circle-height;
      height: $circle-height;
      margin-top: .2em;
      margin-left: .2em;
      text-align: center;
      color: #fff;
      line-height: $circle-height;
      background-color: $orange;
      border-radius: $circle-height;
      @include bp(md){
        display: inline-block;
        margin-top: 0;
      }
    }
    @include bp(sm){
      padding-right: $s2;
    }
    @include bp(md){
      vertical-align: middle !important;
    }
  }
  &__details {
    display: table-cell;
    vertical-align: middle;
    padding-left: $s2;
    @include bp(sm){
      padding-left: $s2;
    }
    @include bp(md){
    }
  }
  &__price {
    color: $orange;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1;
  }
  &__arrow {
    display: none;
    @include bp(sm){
      display: inline-block;
      width: $circle-height;
      height: $circle-height;
      border: 1px solid $orange;
      border-radius: $circle-height;
      background-repeat: no-repeat;
      background-image: url('../img/icons/arrow-right-orange.png');
      background-size: auto 22px;
      background-position: 20px center;
      .svg & { background-image: url('../img/icons/arrow-right-orange.svg'); }
    }
  }
  &__bottom {
    @include bp(sm){
      display: table;
      width: 100%;
      padding-top: $s2;
      * { vertical-align: middle; }
      strong,
      span { vertical-align: baseline; }
      &-item {
        display: table-cell;
        &--right {
          text-align: right;
          vertical-align: bottom !important;
          @include bp(md){
            vertical-align: middle !important;
          };
        }
      }
    }
  }
}