// points of interest on the destination pages and featured across the site


.poi {
  &__image {}
  &__content {}
  &__location {
    border-top: 1px solid rgba(255, 255, 255, 0.11);
    padding-top: 1em;
    margin-top: 1em;
    width: 100%;
    font-size: 0.9em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: $white;
    display: block;
    &:before {
      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-top: -0.1em;
      margin-right: .5em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
}

.featured-poi {
  @include layout(12 1/2);
  text-align: center;
  &__image {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
  }
  &__text { padding-top: $s2; }
  & + & { margin-top: $s2; }
  @include bp(xxl){
    text-align: left;
    & + & { margin-top: $s4; }
    &__text {}
    .flexbox & {
      display: flex;
      align-items: center;
    }
    &__image { @include span(6); }
    &__text {
      @include span(6 last);
      padding-top: 0;
    }
    &:nth-child(odd){
      .featured-poi__image { @include span(6 last); }
      .featured-poi__text { @include span(6); }
      .flexbox & {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }
    }
  }
}