// points of interest on the destination pages and featured across the site


.poi {
  &__image {}
  &__content {}
  &__footer {
    border-top: 1px solid rgba($white,0.1);
    padding-top: 1em;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    @include bp(xxl){
      padding-top: 0;
      text-align: left;
    }
  }
  &__location {
    margin-bottom: $s-1;
    padding-top: 0;
    font-size: 0.9em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: $white;
    display: inline-block;
    margin-right: 1.5em;
    vertical-align: top;
    @include bp(xl){
      padding-top: 1em;
      vertical-align: middle;
      margin-bottom: 0;
    }
    &:before {
      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-top: -0.1em;
      margin-right: .5em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin-white.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin-white.svg" ); }
    }
  }
  &__btn {
    display: none;
    margin-top: 0;
    @include bp(md){ display: inline-block; }
    @include bp(xxl){
      border-radius: 0 0 3px 3px;
      float: right;
      &:before {
        border-color: rgba($white,0.1);
        border-top: 0;
      }
    }
  }
}

.featured-poi {
  @include layout(12 1/2);
  text-align: center;
  & + & { margin-top: $s1; }
  &__image {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
  }
  &__text { padding-top: $s1; margin-top: 0 !important; text-align: left; }

  @include bp(xxl){
    & + & { margin-top: $s4; }
    &__text {}
    .flexbox & {
      display: flex;
      align-items: center;
    }
    &__image { @include span(6); }
    &__text {
      @include span(6 last);
      padding-top: 0;
    }
    &:nth-child(odd){
      .featured-poi__image { @include span(6 last); }
      .featured-poi__text { @include span(6); }
      .flexbox & {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }
    }
  }
}