---
layout: default
---

<div class="bg--dark vpad--xxl">
  <div class="container container--lg text--center">
    <p class="sub-title sub-title--sm">{{page.page-intro}}</p>
  </div>
</div>

<div class="container vpad--xxxl">
  <div class="row row--6-6 row--gutters-lg">
    {% for poi in page.pois %}
      <div class="col">
        <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{poi.id}}.jpg');"></div>
        <div class="space--md"></div>
        <div class="title title--md">{{poi.title}}</div>
        <p>{{poi.description}}</p>
        <div class="space--md"></div>
      </div>
    {% endfor %}
  </div>

</div>