// Harvey is Bob's second cousin on his Mother's side. He was a troubled
// youth and, after years of medical examination Harvey was diagnosed with
// multipersonality disorder. It is this disorder which allows him to build
// the following two sided image/text layouts.
// Harvey is a 50/50 text image layout with no gutter. Use Harvey to make
// an alternating full width section with centred text, and limited height
// image sizing so the layout works across screens and sizes.
.harvey {
  @include container(100%);
  @include layout(12 0);
  &__text {
    padding: $s2 $s2 $s5;
    text-align: center;
  }
  &__image {
    position: relative;
    width: 100%;
    background-color: $grey-light;
    @include background-attributes;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 66.666666666667%;
    }
    &-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-content;
    }
  }
  @include bp(xl){
    .flexbox & {
      display: flex;
      align-items: center;
    }
    &__image {
      @include span(6);
      min-height: 400px;
      max-height: 600px;
    }
    &__text {
      @include span(6 last);
      max-width: $xl;
      padding: $s3;
      margin-left: auto;
      margin-right: auto;
    }
    &--swap{
      &__image { @include span(6 last); }
      &__text { @include span(6); }
      .flexbox & {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
      }
    }
  }
}